# This file contains default configuration settings
# Override these settings by copying this file to your
# home directory and naming it .open-contest

OC_DOCKERIMAGE_BASE=bjucps/open-contest
OC_MAX_OUTPUT_LEN=10000000  # (bytes) Submission output larger than this is discarded
OC_MAX_DISPLAY_LEN=50000    # (bytes) Submission output larger than this is not displayed
OC_MAX_DISPLAY_LINES=300    # (lines) Submission output having more lines than this is not displayed
