[Unit]
Description=open-contest server
After=network.target

[Service]
ExecStart=/bin/bash /home/ubuntu/open-contest/launch.sh --dev --fg --db /home/ubuntu/db
ExecStop=/usr/bin/docker stop open-contest-server
Type=simple

[Install]
WantedBy=multi-user.target
